@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* ================ Sass Template ===============*/

@import "./include/variables.scss";
@import "./include/color.scss";
@import "./include/typography.scss";

*{
    font-family: $font-montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background: $color-gradient;
}
/* ========== Header ========= */
header{
    position: relative;
    min-height: 676px;
    max-width: 1166px;
    margin: auto;
    .header-img-1{
        position: absolute;
        top: 123px;
        right: 123px;
        width: 407px;
        height: 578px;
        object-fit: cover;
        z-index: -3;
    }
    .filter-header{
        position: absolute;
        width: 284px;
        height: 135px;
        top: 630px;
        right: 140px;
        background: #cdecff;
        filter: blur(25px);
    }
    nav{
        max-width: 1166px;
        margin: auto;
        padding: 30px 0 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-header-nav{
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                width: 100px;
                height: 100px;
            }
            h3{
                font-size: 25px;
                color: $color-black;
                margin-left: 10px;
            }
        }
        .right-header-nav{
            ul{
                list-style: none;
                display: flex;
                li{
                    margin-left: 20px;
                    a{
                        font-size: 14px;
                        font-family: $font-montserrat;
                        font-weight: $font-regular;
                        letter-spacing: 2%;
                        color: $color-black;
                        outline: none;
                        text-decoration: none;
                    }
                }
            }
        }
        .right-header-nav.active-menu{
            height: auto;
            opacity: 1;
            transform: translateY(0px);
            transition: 0.4s;
            z-index: 6;
        }
        #toggle-menu{
            display: none;
            font-size: 25px;
            color: $color-black;
            margin-right: 20px;
            cursor: pointer;
        }
    }
    .header-content{
        max-width: 1166px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        .row{
            width: 100%;
            
            .header-content-in{
                width: 60%;    
                h1{
                    margin: 120px 0 20px 0;
                    color: $color-black;
                    font-size: 53px;
                    font-weight: $font-bold;
                    letter-spacing: 2%;
                }
                p{
                    margin-bottom: 40px;
                    color: $color-black;
                }
                .font-header-btn:hover{
                    background-color: $color-hover;
                    color: $color-black;
                    border: 1px solid #000000;
                    box-sizing: border-box;
                    transition: 0.3s;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width:1200px){
    header{
        nav{
            max-width: 900px;
        }
        .header-content{
            max-width: 900px;
            .row{
                .header-content-in{
                    width: 75%;
                    h1{
                        font-size: 35px;
                        margin: 70px 0 20px 0!important;
                    }
                    p{  
                        font-size: 20px;
                        margin-bottom: 70px!important;
                    }
                    .btn-course{
                        padding: 18px 35px!important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1100px){
    header{
        .header-img-1{
            top: 100px;
            right: 100px;
            width: 350px;
            height: 500px;
        }
        .filter-header{
            top: 520px;
            right: 110px;
            background: #cdecff;
            filter: blur(25px);
        }
        nav{
            max-width: 900px;
        }
        .header-content{
            max-width: 900px;
            h1{
                font-size: 35px;
                margin: 70px 0 20px 0!important;
            }
            p{  
                font-size: 20px;
                margin-bottom: 70px!important;
            }
            .btn-course{
                padding: 18px 35px!important;
            }
        }
    }
}
@media screen and (max-width: 950px){
    header{
        .header-img-1{
            top: 130px;
            right: 80px;
            width: 300px;
            height: 450px;
        }
        .filter-header{
            top: 520px;
            right: 70px;
        }
        nav{
            position: relative;
            padding-left: 10%;
            padding-right: 10%;
            .right-header-nav{
                position: absolute;
                left: 0;
                width: 100%;
                top: 100%;
                transform: translateY(-30px);
                height: auto;
                opacity: 0;
                overflow: hidden;
                transition: 0.4s;
                z-index: -5;
                background: $color-primary;
                box-shadow: 5px 3px 10px rgb(31, 31, 31);
                ul{
                    padding: 30px 40px 10px;
                    flex-direction: column;
                    li{
                        margin: 0;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        a{
                            padding: 10px 7px;
                            color: $color-white;
                            font-weight: 700;
                        }
                    }
                    li:hover{
                        outline: 3px solid $color-white;
                        font-size: 700;
                        cursor: pointer;
                    }
                }   
            }
            #toggle-menu{
                display: block;
            }
        }
        .header-content{
            padding: 0 10%;
        }
    }
}

@media screen and (max-width: 850px){
    header{
        .header-img-1{
            top: 130px;
            right: 70px;
            width: 300px;
            height: 430px;
        }
        .filter-header{
            top: 490px;
            right: 50px;
        }
        nav{
            padding: 20px 30px;
            max-width: 900px;
        }
        .header-content{
            max-width: 900px;
            padding: 0px 30px;
            h1{
                font-size: 35px;
                margin: 70px 0 20px 0!important;
            }
            p{  
                font-size: 20px;
                margin-bottom: 70px!important;
            }
            .btn-course{
                padding: 18px 35px!important;
            }
        }
    }
}

@media screen and (max-width: 780px){
    header{
        .header-img-1{
            display: none;
        }
        .filter-header{
            display: none;
        }
        nav{
            padding: 20px 30px;
            max-width: 900px;
        }
        .header-content{
            max-width: 900px;
            padding: 0px 30px;
            .row{
                .header-content-in{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h1{
                        text-align: center;
                    }
                    p{
                        text-align: center;
                    }
                }
            }
            h1{
                font-size: 35px;
                margin: 70px 0 20px 0!important;
            }
            p{  
                font-size: 20px;
                margin-bottom: 70px!important;
            }
            .btn-course{
                padding: 18px 35px!important;
            }
        }
    }
}

@media screen and (max-width: 550px){
    .header-content{
        p{
            font-size: 15px;
        }
    }    
}

@media screen and (max-width: 480px){
    header{
        nav{
            padding-left: 2%;
            padding-right: 2%;
        }
        .header-content{
            .row{
                div{
                    h1{
                        font-size: 30px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .left-header-nav{
        h3{
            font-size: 17px;
        }
    }
}
// Modal
.cover-body-modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}
.modal-course{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: -9;
    transform: translateY(-10px);
    opacity: 0;
    transition: 0.4s;
    .modal-in{
        position: relative;
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        .modal-c{
            z-index: 1;
            height: 687px;
            width: 657px;
            border-radius: 0;
            background: #ECFEFA;
            .modal-c-top{
                background-color: $color-primary;
                height: 140px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                svg{
                    width: 100px;
                    height: 100px;
                }
                h1{
                    margin-left: 20px;
                    font-size: 25px;
                    letter-spacing: 2%;
                    font-weight: $font-bold;
                    color: $color-white;
                }
                #close-modal-course{
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    font-size: 30px;
                    color: $color-white;
                    cursor: pointer;
                    transition: 0.5s;
                }
                #close-modal-course:hover{
                    transition: 0.5s;
                    transform: rotate(360deg);
                }
            }
            .modal-c-body{
                h1{
                    font-size: 43px;
                    font-weight: 500;
                    letter-spacing: 2%;
                    font-style: normal;
                    margin: 50px auto 80px auto;
                    text-align: center;
                    color: $color-black;
                }
                .course-form{
                    padding: 0 100px 50px 100px;
                    input{
                        padding: 22px;
                        background: $color-white;
                        border: 0.5px solid $color-grey;
                        box-sizing: border-box;
                        width: 100%;
                        margin-bottom: 40px;
                        outline: none;
                    }
                    div{
                        display: flex;
                        justify-content: end;
                        margin-top: 40px;
                        button{
                            border: none;
                            outline: none;
                        }
                        button:hover{
                            background-color: $color-hover;
                            color: $color-black;
                            border: 1px solid $color-black;
                            box-sizing: border-box;
                            transition: 0.3s;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.modal-course.modal-course-active{
    z-index: 90;
    transform: translateY(0);
    transition: 0.4s;
    opacity: 1;
}

@media screen and (max-width: 700px){
    .modal-course{
        .modal-in{
            .modal-c-body{
                .course-form{
                    padding: 0 30px 30px 20px !important;
                }
            }
        }
    }
}
@media screen and (max-width: 500px){
    .modal-course{
        .modal-in{
            padding: 10px;
            .modal-c{
                height: 630px;
            }
            .modal-c-body{
                h1{
                    padding: 0 20px;
                    margin: 30px 0 50px 0!important;
                }
                .course-form{
                    padding: 0 30px 30px 20px !important;
                    input{
                        padding-left: 15px!important;
                    }
                    div{
                        margin-top: 0!important;
                    }
                }
            }
        }
    }
}

// submit modal
.modal-course-submit.modal-submit-active{
    z-index: 90;
    transform: translateY(0);
    transition: 0.4s;
    opacity: 1;
    
}
.modal-course-submit{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: -10;
    transform: translateY(-10px);
    opacity: 0;
    transition: 0.4s;
    .modal-in-submit{
        position: relative;
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        .modal-submit{
            z-index: 1;
            height: 281px;
            width: 624px;
            border-radius: 0;
            background: #ECFEFA;
            .modal-s-top{
                width: 100%;
                height: 20px;
                background-color: $color-primary;
            }
            .modal-s-body{
                p{
                    font-style: normal;
                    font-size: 18px;
                    letter-spacing: 2%;
                    text-align: center;
                    font-weight: 400;
                    color: $color-black;
                    margin: 50px 100px;
                }
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        text-decoration: none;
                    }
                    a:hover{
                        background-color: $color-hover;
                        color: $color-black;
                        border: 1px solid $color-black;
                        box-sizing: border-box;
                        transition: 0.3s;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .modal-course-submit{
        .modal-in-submit{
            padding: 10px;
            .modal-submit{
                .modal-s-body{
                    p{
                        margin: 40px 80px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    .modal-course-submit .modal-in-submit .modal-submit .modal-s-body p{
        margin: 30px 20px 40px 20px;
    }
    
}

// Modal end


/* ========== !Header ========= */

/* ========== Main part ========= */

.main{
    max-width: 1166px;
    margin: 73px auto 150px auto;

    // News section
    #news-div{
        width: 100%;
        h1{
            margin-left: 12px;
            color: $color-primary;
            font-style: normal;
            font-weight: bold;
            font-size: 33px;
            line-height: 40px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            margin-bottom: 30px;
        }

        .owl-carousel{
            .owl-dots{
                .owl-dot{
                    span{
                        background-color: $color-grey;
                        height: 4px;
                        width: 35px;
                        border-radius: 0;
                    }
                }
                .owl-dot.active{
                    span{
                        background-color: $color-primary;
                    }
                }
            }
            .item{
                max-width: 100%;
                max-height: auto;
                img{
                    width: 100%;
                    object-fit: cover;
                }
                .news-content{
                    padding: 10px 12px;
                    h3{
                        font-style: normal;
                        font-weight: $font-bold;
                        font-size: 18px;
                        line-height: 22px;
                        margin-bottom: 10px;
                    }
                    span{
                        color: $color-grey;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                        letter-spacing: 0.02em;
                    }
                }
            }
        }
    }

    // News section

}

@media screen and (max-width: 1200px){
    .main{
        max-width: 900px;
    }        
}

@media screen and (max-width: 1100px){
    .main{
        max-width: 95%;
        margin: 20px auto 100px auto;
    }        
}

@media screen and (max-width: 950px){
    .main{
        max-width: 900px;
        padding: 0 10%;
        margin: 20px auto 100px auto;
        #news-div{
            .owl-carousel{
                .owl-dots{
                    .owl-dot{
                        span{
                            background-color: $color-grey;
                            height: 4px;
                            width: 20px;
                            border-radius: 0;
                        }
                    }
                }
                .item{
                    .news-content{
                        padding: 10px 30px;
                    }
                }
            }
        }
    }    
    .main #news-div .owl-carousel .item .news-content{
        padding: 0 10px 0 12px;
    }    
}

@media screen and (max-width: 700px){
    .main{
        max-width: 96%;
        padding: 0 10px;
        margin: 20px auto 100px auto;
        #news-div{
            .owl-carousel{
                .item{
                    .news-content{
                        padding: 10px 30px;
                    }
                }
            }
        }
    }    
    .main #news-div .owl-carousel .item .news-content{
        padding: 0 10px 0 20px;
    }       
}

/* ========== !Main part ========= */




.toTop{
    font-size: 35px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: $color-primary;
    opacity: 0;
    transition: 0.5s;
}

.toTop.toTopActive{
    transition: 0.1s;
    opacity: 1;
    animation: animForToTop 1 1s;
    z-index: 5;
}

@keyframes animForToTop {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    75%{
        transform: translateY(10px);
    }
    0%{
        transform: translateY(0px);
    }
}

/* ================ Sass Template ===============*/

