@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
/* ================ Sass Template ===============*/
/* ============== Font Styles ============= */
/* ============== Colors ============= */
/*==================== Color Styles ====================*/
.color-white {
  color: #fff;
}

.color-white-bg {
  background: #fff;
}

.color-black {
  color: #000;
}

.color-black-bg {
  background: #000;
}

.color-grey {
  color: #646464;
}

.color-grey-bg {
  background: #646464;
}

.color-primary {
  color: #00445B;
}

.color-primary-bg {
  background: #00445B;
}

.color-gradient {
  color: linear-gradient(to bottom right, #ECFEFA, #BEE9FF, #DBEAFF, #F3DBFF);
}

.color-gradient-bg {
  background: linear-gradient(to bottom right, #ECFEFA, #BEE9FF, #DBEAFF, #F3DBFF);
}

.color-yellow {
  color: #FDB44B;
}

.color-yellow-bg {
  background: #FDB44B;
}

/* =================== Font styles ================ */
.font-h1 {
  font-size: 53px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 2%;
}

.font-h2 {
  font-size: 43px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 4%;
}

.font-h3 {
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2%;
}

.font-h4 {
  font-size: 27px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 5%;
}

.font-head-h {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 2%;
}

.font-head-h-normal {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2%;
}

.font-h5 {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2%;
}

.font-subtitle {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2%;
}

.font-body1 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 2%;
}

.font-body2 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 2%;
}

.font-course-btn {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 17px;
  padding: 15px 78px;
  color: #fff;
  background-color: #00445B;
  text-transform: uppercase;
  letter-spacing: 2%;
  text-decoration: none;
  transition: 0.3s;
}

.font-header-btn {
  font-size: 14px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 17px;
  padding: 25px 48px;
  color: #fff;
  background-color: #00445B;
  text-transform: uppercase;
  letter-spacing: 2%;
  transition: 0.3s;
}

.font-footer-btn {
  font-size: 14px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 17px;
  padding: 15px 45px;
  color: #fff;
  background-color: #00445B;
  text-transform: uppercase;
  letter-spacing: 2%;
  transition: 0.3s;
}

.font-overline {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0%;
}

.font-body3 {
  font-weight: 700;
  font-size: 33px;
  font-style: "Montserrat", sans-serif;
  color: #00445B;
  letter-spacing: 2%;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom right, #ECFEFA, #BEE9FF, #DBEAFF, #F3DBFF);
}

/* ========== Header ========= */
header {
  position: relative;
  min-height: 676px;
  max-width: 1166px;
  margin: auto;
}
header .header-img-1 {
  position: absolute;
  top: 123px;
  right: 123px;
  width: 407px;
  height: 578px;
  object-fit: cover;
  z-index: -3;
}
header .filter-header {
  position: absolute;
  width: 284px;
  height: 135px;
  top: 630px;
  right: 140px;
  background: #cdecff;
  filter: blur(25px);
}
header nav {
  max-width: 1166px;
  margin: auto;
  padding: 30px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .left-header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .left-header-nav svg {
  width: 100px;
  height: 100px;
}
header nav .left-header-nav h3 {
  font-size: 25px;
  color: #000;
  margin-left: 10px;
}
header nav .right-header-nav ul {
  list-style: none;
  display: flex;
}
header nav .right-header-nav ul li {
  margin-left: 20px;
}
header nav .right-header-nav ul li a {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 2%;
  color: #000;
  outline: none;
  text-decoration: none;
}
header nav .right-header-nav.active-menu {
  height: auto;
  opacity: 1;
  transform: translateY(0px);
  transition: 0.4s;
  z-index: 6;
}
header nav #toggle-menu {
  display: none;
  font-size: 25px;
  color: #000;
  margin-right: 20px;
  cursor: pointer;
}
header .header-content {
  max-width: 1166px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
header .header-content .row {
  width: 100%;
}
header .header-content .row .header-content-in {
  width: 60%;
}
header .header-content .row .header-content-in h1 {
  margin: 120px 0 20px 0;
  color: #000;
  font-size: 53px;
  font-weight: 700;
  letter-spacing: 2%;
}
header .header-content .row .header-content-in p {
  margin-bottom: 60px;
  color: #000;
}
header .header-content .row .header-content-in .font-header-btn:hover {
  background-color: #ECFEFA;
  color: #000;
  border: 1px solid #000000;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  header nav {
    max-width: 900px;
  }
  header .header-content {
    max-width: 900px;
  }
  header .header-content .row .header-content-in {
    width: 75%;
  }
  header .header-content .row .header-content-in h1 {
    font-size: 35px;
    margin: 70px 0 20px 0 !important;
  }
  header .header-content .row .header-content-in p {
    font-size: 20px;
    margin-bottom: 70px !important;
  }
  header .header-content .row .header-content-in .btn-course {
    padding: 18px 35px !important;
  }
}
@media screen and (max-width: 1100px) {
  header .header-img-1 {
    top: 100px;
    right: 100px;
    width: 350px;
    height: 500px;
  }
  header .filter-header {
    top: 520px;
    right: 110px;
    background: #cdecff;
    filter: blur(25px);
  }
  header nav {
    max-width: 900px;
  }
  header .header-content {
    max-width: 900px;
  }
  header .header-content h1 {
    font-size: 35px;
    margin: 70px 0 20px 0 !important;
  }
  header .header-content p {
    font-size: 20px;
    margin-bottom: 70px !important;
  }
  header .header-content .btn-course {
    padding: 18px 35px !important;
  }
}
@media screen and (max-width: 950px) {
  header .header-img-1 {
    top: 130px;
    right: 80px;
    width: 300px;
    height: 450px;
  }
  header .filter-header {
    top: 520px;
    right: 70px;
  }
  header nav {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
  }
  header nav .right-header-nav {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    transform: translateY(-30px);
    height: auto;
    opacity: 0;
    overflow: hidden;
    transition: 0.4s;
    z-index: -5;
    background: #00445B;
    box-shadow: 5px 3px 10px #1f1f1f;
  }
  header nav .right-header-nav ul {
    padding: 30px 40px 10px;
    flex-direction: column;
  }
  header nav .right-header-nav ul li {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header nav .right-header-nav ul li a {
    padding: 10px 7px;
    color: #fff;
    font-weight: 700;
  }
  header nav .right-header-nav ul li:hover {
    outline: 3px solid #fff;
    font-size: 700;
    cursor: pointer;
  }
  header nav #toggle-menu {
    display: block;
  }
  header .header-content {
    padding: 0 10%;
  }
}
@media screen and (max-width: 850px) {
  header .header-img-1 {
    top: 130px;
    right: 70px;
    width: 300px;
    height: 430px;
  }
  header .filter-header {
    top: 490px;
    right: 50px;
  }
  header nav {
    padding: 20px 30px;
    max-width: 900px;
  }
  header .header-content {
    max-width: 900px;
    padding: 0px 30px;
  }
  header .header-content h1 {
    font-size: 35px;
    margin: 70px 0 20px 0 !important;
  }
  header .header-content p {
    font-size: 20px;
    margin-bottom: 50px !important;
  }
  header .header-content .btn-course {
    padding: 18px 35px !important;
  }
}
@media screen and (max-width: 780px) {
  header .header-img-1 {
    display: none;
  }
  header .filter-header {
    display: none;
  }
  header nav {
    padding: 20px 30px;
    max-width: 900px;
  }
  header .header-content {
    max-width: 900px;
    padding: 0px 30px;
  }
  header .header-content .row .header-content-in {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header .header-content .row .header-content-in h1 {
    text-align: center;
  }
  header .header-content .row .header-content-in p {
    text-align: center;
  }
  header .header-content h1 {
    font-size: 35px;
    margin: 70px 0 20px 0 !important;
  }
  header .header-content p {
    font-size: 20px;
    margin-bottom: 50px !important;
  }
  header .header-content .btn-course {
    padding: 18px 35px !important;
  }
}
@media screen and (max-width: 550px) {
  .header-content p {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  header nav {
    padding-left: 2%;
    padding-right: 2%;
  }
  header .header-content .row div h1 {
    font-size: 30px;
  }
  header .header-content .row div p {
    font-size: 18px;
  }

  .left-header-nav h3 {
    font-size: 17px;
  }
}
.cover-body-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.modal-course {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: -9;
  transform: translateY(-10px);
  opacity: 0;
  transition: 0.4s;
}
.modal-course .modal-in {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.modal-course .modal-in .modal-c {
  z-index: 1;
  height: 687px;
  width: 657px;
  border-radius: 0;
  background: #ECFEFA;
}
.modal-course .modal-in .modal-c .modal-c-top {
  background-color: #00445B;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.modal-course .modal-in .modal-c .modal-c-top svg {
  width: 100px;
  height: 100px;
}
.modal-course .modal-in .modal-c .modal-c-top h1 {
  margin-left: 20px;
  font-size: 25px;
  letter-spacing: 2%;
  font-weight: 700;
  color: #fff;
}
.modal-course .modal-in .modal-c .modal-c-top #close-modal-course {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.modal-course .modal-in .modal-c .modal-c-top #close-modal-course:hover {
  transition: 0.5s;
  transform: rotate(360deg);
}
.modal-course .modal-in .modal-c .modal-c-body h1 {
  font-size: 43px;
  font-weight: 500;
  letter-spacing: 2%;
  font-style: normal;
  margin: 50px auto 80px auto;
  text-align: center;
  color: #000;
}
.modal-course .modal-in .modal-c .modal-c-body .course-form {
  padding: 0 100px 50px 100px;
}
.modal-course .modal-in .modal-c .modal-c-body .course-form input {
  padding: 22px;
  background: #fff;
  border: 0.5px solid #646464;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 40px;
  outline: none;
}
.modal-course .modal-in .modal-c .modal-c-body .course-form div {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}
.modal-course .modal-in .modal-c .modal-c-body .course-form div button {
  border: none;
  outline: none;
}
.modal-course .modal-in .modal-c .modal-c-body .course-form div button:hover {
  background-color: #ECFEFA;
  color: #000;
  border: 1px solid #000;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}

.modal-course.modal-course-active {
  z-index: 90;
  transform: translateY(0);
  transition: 0.4s;
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .modal-course .modal-in .modal-c-body .course-form {
    padding: 0 30px 30px 20px !important;
  }
}
@media screen and (max-width: 500px) {
  .modal-course .modal-in {
    padding: 10px;
  }
  .modal-course .modal-in .modal-c {
    height: 630px;
  }
  .modal-course .modal-in .modal-c-body h1 {
    padding: 0 20px;
    margin: 30px 0 50px 0 !important;
  }
  .modal-course .modal-in .modal-c-body .course-form {
    padding: 0 30px 30px 20px !important;
  }
  .modal-course .modal-in .modal-c-body .course-form input {
    padding-left: 15px !important;
  }
  .modal-course .modal-in .modal-c-body .course-form div {
    margin-top: 0 !important;
  }
}
.modal-course-submit.modal-submit-active {
  z-index: 90;
  transform: translateY(0);
  transition: 0.4s;
  opacity: 1;
}

.modal-course-submit {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: -10;
  transform: translateY(-10px);
  opacity: 0;
  transition: 0.4s;
}
.modal-course-submit .modal-in-submit {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.modal-course-submit .modal-in-submit .modal-submit {
  z-index: 1;
  height: 281px;
  width: 624px;
  border-radius: 0;
  background: #ECFEFA;
}
.modal-course-submit .modal-in-submit .modal-submit .modal-s-top {
  width: 100%;
  height: 20px;
  background-color: #00445B;
}
.modal-course-submit .modal-in-submit .modal-submit .modal-s-body p {
  font-style: normal;
  font-size: 18px;
  letter-spacing: 2%;
  text-align: center;
  font-weight: 400;
  color: #000;
  margin: 50px 100px;
}
.modal-course-submit .modal-in-submit .modal-submit .modal-s-body div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-course-submit .modal-in-submit .modal-submit .modal-s-body div a {
  text-decoration: none;
}
.modal-course-submit .modal-in-submit .modal-submit .modal-s-body div a:hover {
  background-color: #ECFEFA;
  color: #000;
  border: 1px solid #000;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .modal-course-submit .modal-in-submit {
    padding: 10px;
  }
  .modal-course-submit .modal-in-submit .modal-submit .modal-s-body p {
    margin: 40px 80px;
  }
}
@media screen and (max-width: 500px) {
  .modal-course-submit .modal-in-submit .modal-submit .modal-s-body p {
    margin: 30px 20px 40px 20px;
  }
}
/* ========== !Header ========= */
/* ========== Main part ========= */
.main {
  max-width: 1166px;
  margin: 73px auto 150px auto;
}
.main #news-div {
  width: 100%;
}
.main #news-div h1 {
  margin-left: 12px;
  color: #00445B;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.main #news-div .owl-carousel .owl-dots .owl-dot span {
  background-color: #646464;
  height: 4px;
  width: 35px;
  border-radius: 0;
}
.main #news-div .owl-carousel .owl-dots .owl-dot.active span {
  background-color: #00445B;
}
.main #news-div .owl-carousel .item {
  max-width: 100%;
  max-height: auto;
}
.main #news-div .owl-carousel .item img {
  width: 100%;
  object-fit: cover;
}
.main #news-div .owl-carousel .item .news-content {
  padding: 10px 12px;
}
.main #news-div .owl-carousel .item .news-content h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}
.main #news-div .owl-carousel .item .news-content span {
  color: #646464;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
}
.main #courses-div {
  width: 100%;
}
.main #courses-div h1 {
  margin-left: 15px;
  margin-top: 150px;
  color: #00445B;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .main #courses-div h1 {
    margin-top: 50px;
  }
}
.main #courses-div .owl-dots .owl-dot span {
  background-color: #646464;
  height: 4px;
  width: 35px;
  border-radius: 0;
}
@media screen and (max-width: 520px) {
  .main #courses-div .owl-dots .owl-dot span {
    width: 20px;
  }
}
.main #courses-div .owl-dots .owl-dot.active span {
  background-color: #00445B;
}
.main #courses-div .item {
  max-width: 100%;
}
.main #courses-div .item .course-item {
  padding: 0 15px;
}
.main #courses-div .item .course-item .course-main {
  background-color: #ECFEFA;
  width: 100%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.13);
}
.main #courses-div .item .course-item .course-main a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main #courses-div .item .course-item .course-main .course-content {
  padding: 0 37px 37px 37px;
}
.main #courses-div .item .course-item .course-main .course-content a {
  text-decoration: none;
}
.main #courses-div .item .course-item .course-main .course-content a h3 {
  margin: 37px 0 10px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #000;
}
.main #courses-div .item .course-item .course-main .course-content p {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #000;
}
.main #courses-div .item .course-item .course-main .course-content button {
  width: 100%;
  background-color: #00445B;
  padding: 15px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  border: 1px solid #00445B;
  transition: 0.3s;
  outline: none;
}
.main #courses-div .item .course-item .course-main .course-content button:hover {
  background-color: #ECFEFA;
  color: #000;
  border: 1px solid #000000;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}
.main #teachers-div {
  width: 100%;
}
.main #teachers-div h1 {
  margin-left: 15px;
  margin-top: 150px;
  color: #00445B;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .main #teachers-div h1 {
    margin-top: 50px;
  }
}
.main #teachers-div .owl-dots .owl-dot span {
  background-color: #646464;
  height: 4px;
  width: 35px;
  border-radius: 0;
}
@media screen and (max-width: 520px) {
  .main #teachers-div .owl-dots .owl-dot span {
    width: 20px;
  }
}
.main #teachers-div .owl-dots .owl-dot.active span {
  background-color: #00445B;
}
.main #teachers-div .item {
  max-width: 100%;
}
.main #teachers-div .item .teacher-item {
  padding: 0 15px;
}
.main #teachers-div .item .teacher-item .teacher-main {
  background-color: #ECFEFA;
  width: 100%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.13);
}
.main #teachers-div .item .teacher-item .teacher-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main #teachers-div .item .teacher-item .teacher-main .teacher-content {
  padding: 0 37px 37px 37px;
}
.main #teachers-div .item .teacher-item .teacher-main .teacher-content h3 {
  margin: 37px 0 10px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #000;
}
.main #teachers-div .item .teacher-item .teacher-main .teacher-content p {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #000;
}
.main #photos-div {
  width: 100%;
}
.main #photos-div h1 {
  margin-left: 15px;
  margin-top: 150px;
  color: #00445B;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.main #photos-div .photos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.main #photos-div .photos .photo-item {
  width: 33.33333%;
  display: flex;
  justify-content: center;
}
.main #photos-div .photos .photo-item .item {
  width: 100%;
}
.main #photos-div .photos .photo-item .item img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.13));
  transition: 0.3s;
}
.main #photos-div .photos .photo-item .item img:hover {
  transition: 0.3s;
  transform: scale(1.03);
}
.main .img-modal.img-modal-active {
  z-index: 99;
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s;
}
.main .img-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: -5;
  opacity: 0;
  transform: translateY(-10px);
}
.main .img-modal .modal-img-main {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.main .img-modal .modal-img-main .modal-img-item {
  width: 800px;
  height: auto;
}
.main .img-modal .modal-img-main .modal-img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 800px) {
  .main .img-modal .modal-img-main .modal-img-item {
    width: 500px;
    height: auto;
  }
}
@media screen and (max-width: 530px) {
  .main .img-modal .modal-img-main .modal-img-item {
    max-width: 500px;
  }
}
.main #videos-div h1 {
  margin-left: 15px;
  margin-top: 150px;
  color: #00445B;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.main #videos-div .owl-dots .owl-dot span {
  background-color: #646464;
  height: 4px;
  width: 35px;
  border-radius: 0;
}
@media screen and (max-width: 520px) {
  .main #videos-div .owl-dots .owl-dot span {
    width: 20px;
  }
}
.main #videos-div .owl-dots .owl-dot.active span {
  background-color: #00445B;
}
.main #videos-div .owl-carousel .item .video-item {
  padding: 0 15px;
}
.main #videos-div .owl-carousel .item .video-item .video-main {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.main #videos-div .owl-carousel .item .video-item .video-main .video-cover {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 56.25%;
  z-index: 50;
}
.main #videos-div .owl-carousel .item .video-item .video-main iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main .video-modal.video-modal-active {
  z-index: 99;
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s;
}
.main .video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.5s;
  overflow-y: auto;
}
.main .video-modal .modal-video-main {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}
.main .video-modal .modal-video-main .modal-video-item {
  width: 1050px;
  height: auto;
  overflow-y: auto;
}
.main .video-modal .modal-video-main .modal-video-item .video-top {
  width: 100%;
  height: 50px;
  background-color: #00445B;
  position: relative;
}
.main .video-modal .modal-video-main .modal-video-item .video-top i {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.main .video-modal .modal-video-main .modal-video-item .video-top i:hover {
  transition: 0.5s;
  transform: rotate(360deg);
}
.main .video-modal .modal-video-main .modal-video-item .video-content {
  background: #ECFEFA;
  width: 100%;
  padding: 10px;
}
.main .video-modal .modal-video-main .modal-video-item .video-content .video-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.main .video-modal .modal-video-main .modal-video-item .video-content .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main #result-div h1 {
  margin-left: 15px;
  margin-top: 150px;
  color: #00445B;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.main #result-div .owl-dots .owl-dot span {
  background-color: #646464;
  height: 4px;
  width: 35px;
  border-radius: 0;
}
@media screen and (max-width: 520px) {
  .main #result-div .owl-dots .owl-dot span {
    width: 20px;
  }
}
.main #result-div .owl-dots .owl-dot.active span {
  background-color: #00445B;
}
.main #result-div .item {
  padding: 0 15px;
  width: 100%;
}
.main #result-div .item .result-item {
  width: 100%;
  padding-top: 80px;
}
.main #result-div .item .result-item .result-main {
  position: relative;
  background: #ECFEFA;
  padding: 95px 37px 37px 37px;
  box-shadow: 0px 3.55979px 10.6794px rgba(0, 0, 0, 0.13);
}
.main #result-div .item .result-item .result-main img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 50%;
  width: 110px;
  height: 110px;
}
.main #result-div .item .result-item .result-main h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  letter-spacing: 0.02em;
}
.main #result-div .item .result-item .result-main p {
  margin-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #000;
}

@media screen and (max-width: 1200px) {
  .main {
    max-width: 900px;
  }
}
@media screen and (max-width: 1100px) {
  .main {
    max-width: 95%;
    margin: 20px auto 100px auto;
  }
}
@media screen and (max-width: 950px) {
  .main {
    max-width: 900px;
    padding: 0 10%;
    margin: 20px auto 100px auto;
  }
  .main #news-div .owl-carousel .owl-dots .owl-dot span {
    background-color: #646464;
    height: 4px;
    width: 20px;
    border-radius: 0;
  }
  .main #news-div .owl-carousel .item .news-content {
    padding: 10px 30px;
  }
  .main #photos-div .photos .photo-item {
    width: 50%;
  }

  .main #news-div .owl-carousel .item .news-content {
    padding: 0 10px 0 12px;
  }
}
@media screen and (max-width: 700px) {
  .main {
    max-width: 96%;
    padding: 0 10px;
    margin: 20px auto 100px auto;
  }
  .main #news-div .owl-carousel .item .news-content {
    padding: 10px 30px;
  }
  .main #photos-div h1 {
    margin-top: 50px;
  }
  .main #photos-div .photos .photo-item {
    width: 100%;
  }

  .main #news-div .owl-carousel .item .news-content {
    padding: 0 10px 0 20px;
  }

  .main #videos-div h1 {
    margin-top: 40px;
  }

  .main #result-div h1 {
    margin-top: 50px;
  }
}
/* ========== !Main part ========= */
.toTop a i {
  font-size: 35px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #00445B;
  opacity: 0;
  transition: 0.5s;
  background-color: #ECFEFA;
  border-radius: 50%;
}

.toTop.toTopActive a i {
  transition: 0.1s;
  opacity: 1;
  animation: animForToTop 1 1s;
  z-index: 5;
}

@keyframes animForToTop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  75% {
    transform: translateY(10px);
  }
  0% {
    transform: translateY(0px);
  }
}
/* ================ Sass Template ===============*/

/*# sourceMappingURL=style.css.map */
